/*Hydologic System Overview override css here*/
.column {
	
	height: 100%;
	max-height: auto;
	overflow-x: scroll;
	border: 1px solid grey;
	border-radius: 20px;
	box-shadow: 2px 2px 10px #c1c1c1;
	font-family: Arial;
	padding:30px;
	margin:10px;
}


.grid {
	display: grid;
	grid-template-columns: 50% auto;
	/*grid-template-rows: 45% auto;*/
	width: 100%;
	height: 100%;
	gap: 25px;
	
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-background{
	margin:1em;
	width:95%;
	height:15px;
}



