.container {
	display: flex;
	flex-direction: column;
}

.wrapper {
	display: flex;
	flex-direction: row;
}

.main {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #c1c1c1;
	font-family: Arial;
	padding:10px;
}

.weir-info-row{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-background{
	margin:1em;
	width:95%;
	height:15px;
}


.sidebar {
	flex: 1;
}

.vertical-menu {
	width: 200px;
	height: 90vh;
	overflow-y: auto;
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	cursor: default;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.selected {
	background-color: rgba(79, 185, 207, 1.0);
	color: white;
}

#weirInfo {
	display: grid;
	grid-template-columns: minmax(80px, auto) 1fr;
	column-gap: 1em;
}