.feedback{
	display:flex;
	flex-direction:column;
	padding: 0px 10px 10px 10px;
	
}

.feedback-line{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10px;
	text-align: center;
}

.feedback-line input,
.feedback-line select{
	margin-right: 0.5em;
}

.feedbackSection{
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 0.5em;
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 10px;
}
.feedbackSection:last-child{
	margin-bottom: 0px;
	background-color: #dddddd;
}
