@charset "UTF-8";

:root {
	--tygron-white: rgba(245, 245, 245, 1.0);
	--tygron-blue: rgb(10, 173, 207);
}

html, body {
	padding: 5px;
	background-color: white;
	font-family: Arial;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 0.25em;
	background-color: white;
	overflow: hidden;
}

.content.direct {
	padding: 0 0em;
}

.content .delayed {
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

input[type=button], input[type=file] {
	color: black;
	font-family: serif;
}

.collapsible:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.dialog-background-pane {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(200, 200, 200, 0.6);
	display: none
}

.dialog-center-pane {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dialog-button-box{
	display: flex;
	justify-content:flex-end;
}

.dialog-center-pane p{
	
}

.dialog-button-box button{
	margin-left: 0.5em;
}

/**
.active .collapsible {
	font-weight: bold;
	font-size: 1.5em;
}

.active .collapsible:hover {
	background-color: cornflowerblue;
	color: white;
}
.active:after {
	content: "\2796";	
}
*/
.datatable thead {
	font-weight: bold;
}

.datatable {
	height: 1px;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
	font-family: Arial;
	font-size: 0.9em;
}

.datatable tr {
	/*border-bottom: 1px solid black;*/
	height: 100%;
}

.datatable tr:nth-child(even) {
	background-color: rgb(240, 240, 240)
}

.datatable td {
	height: 100%;
}

.datatable td>div {
	margin: 0.25em;
	padding: 0.25em 0.25em 0.25em 0.25em;
	position: relative;
	border-radius: 0.5em;
}

.timeframe-slider {
	--primaryColor: #0366D6;
	--value-active-color: white;
	--value-background: var(--primaryColor);
	--value-font: 700 12px/1 Arial;
	--progress-color: #EEE;
	--progress-shadow: 2px 2px 4px rgba(0, 0, 0, .1) inset;
	--fill-color: var(--primaryColor);
	--thumb-size: 16px;
	--track-height: calc(var(--thumb-size)/2);
	--thumb-shadow: 0 0 3px rgba(0, 0, 0, .2);
	--ticks-thickness: 1px;
	--ticks-height: 5px;
	--ticks-color: silver;
	--step: 1;
	--ticks-count: (var(--max)- var(--min))/var(--step);
	--maxTicksAllowed: 30;
	--too-many-ticks: Min(1, Max(var(--ticks-count)- var(--maxTicksAllowed),
		0));
	--x-step: Max(var(--step), var(--too-many-ticks)* (var(--max)- var(--min)));
	/* manipulate the number of steps if too many ticks exist, so there would only be 2*/
	--tickInterval: 100/((var(--max)- var(--min))/var(--step))* var(--tickEvery, 1);
	--tickIntervalPerc: calc(( 100% - var(--thumb-size))/( (var(--max)- var(--min))/var(--x-step))*
		
		
		
		
		
		 var(--tickEvery, 1));
	--completed: calc(( var(--value)- var(--min))/(var(--max)- var(--min))*
		 100);
}

.timeframe-slider {
	display: inline-block;
	height: var(--thumb-size);
	margin: 0;
	background: linear-gradient(to right, var(--ticks-color)
		var(--ticks-thickness), transparent 1px) repeat-x;
	background-size: var(--tickIntervalPerc) var(--ticks-height);
	background-position: calc(var(--thumb-size)/2) bottom;
	padding-bottom: var(--ticks-height);
	position: relative;
	width: 100%;
}

.timeframe-slider::before, .timeframe-slider::after {
	font: 12px Arial;
	content: counter(x);
	position: absolute;
	bottom: -2.5ch;
}

.timeframe-slider::before {
	counter-reset: x var(--min);
	left: 0;
}

.timeframe-slider::after {
	counter-reset: x var(--max);
	right: 0;
}

.timeframe-slider__progress {
	position: absolute;
	left: 0;
	top: calc(50% - var(--ticks-height)/2);
	transform: translateY(-50%);
	width: 100%;
	height: calc(var(--track-height));
	pointer-events: none;
	z-index: -1;
	box-shadow: var(--progress-shadow);
	border-radius: 20px;
	background: var(--fill-color, white);
}

.timeframe-slider__progress::before {
	content: '';
	display: block;
	margin-left: auto;
	margin-right: -.5px;
	width: calc(100% - var(--completed)* 1%);
	height: 100%;
	background: var(--progress-color, #EEE);
	box-shadow: inherit;
	border-radius: 0 20px 20px 0;
}

.timeframe-slider>input {
	width: 100%;
	height: var(--thumb-size);
	/* margin: 0 calc(var(--thumb-size)/-2);*/
	margin: 0;
	cursor: -webkit-grab;
	cursor: grab;
	outline: none;
}

.timeframe-slider thumb {
	appearance: none;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: 50%;
	background: var(--thumb-color, white);
	border: 1px solid silver;
	/*box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);*/
}

.timeframe-slider>input::-webkit-slider-thumb {
	appearance: none;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: 50%;
	background: var(--thumb-color, white);
	border: 1px solid silver;
	/*box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);*/
}

.timeframe-slider>input::-moz-slider-thumb {
	appearance: none;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: 50%;
	background: var(--thumb-color, white);
	border: 1px solid silver;
	/*box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);*/
}

.timeframe-slider>input::-ms-thumb {
	appearance: none;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: 50%;
	background: var(--thumb-color, white);
	border: 1px solid silver;
	/*box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);*/
}

.timeframe-slider>input:active {
	cursor: grabbing;
}

.timeframe-slider>input:active+output {
	transition: 0s;
}

.timeframe-slider>input:hover+output {
	background: transparent;
	transform: translate(var(--x-offset), 3px);
}

.timeframe-slider>output {
	--x-offset: calc(var(--completed)* -1%);
	pointer-events: none;
	position: absolute;
	background: transparent;
	border-radius: 10px;
	padding: 0 4px;
	top: -3ch; /* calc(Max(var(--thumb-size), var(--track-height)) * -1);*/
	left: calc(var(--completed)* 1%);
	transform: translate(var(--x-offset), 6px);
	transition: all .12s ease-out, left 0s, top 0s;
}

.timeframe-slider>output::after {
	content: var(--text-value);
	font: var(--value-font);
}

.water-structure-sidebar {
	flex: 1;
}

.water-structure-sidebar>.vertical-menu {
	width: 200px;
	height: 75vh;
	overflow-y: auto;
	margin-right: 1em;
	padding-right: 1em;
}

.water-structure-sidebar>.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	cursor: default;
	border-radius: 5px;
	margin-bottom: 3px;
	font-size: 12px;
}

.water-structure-sidebar>.vertical-menu a:hover {
	background-color: #ccc;
}

.water-structure-sidebar>.vertical-menu a.selected {
	background-color: orange;
	color: black;
}

.water-structure-main {
	display: flex;
	flex-direction: row;
}

.water-structure-info-row, .water-structure-info-row-spread {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.water-structure-info-row-spread {
	justify-content: space-between;
}

.water-structure-info-column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.water-structure-info-grid {
	display: grid;
	grid-template-columns: minmax(80px, auto) 1fr;
	column-gap: 1em;
}

.water-structure-plot {
	max-width: fit-content;
}

.water-structure-detail {
	flex: 3;
}